.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
    background-color:forestgreen;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.example_c {
    color: #494949 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 20px;
    border: 4px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
}

.example_c:hover {
    color: #ffffff !important;
    background: forestgreen;
    border-color: forestgreen !important;
    transition: all 0.4s ease 0s;
}

ul {
    list-style-type: none;
    margin: auto;
    width: 100%;
    padding: 10px;
}

img {
    width: 100%;
    height: auto;
}

.separation_line {
    border: 0.5px solid lightgrey;
}

.checked {
    color: orange;
}

.list_dropdown {
    float: left;
    overflow: hidden;
    margin-right: 5%;
    width: 10%;
}

.column {
    float: left;
    width: 30%;
    padding: 10px;
}

.column_new-line {
    clear: both;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.second-header {
    width: 100%;
    height: 50px;
}

.hubs_lis-class {
    margin-left: 5%;
}

.to_add {
    float: left;
    width: 30%;
    padding: 10px;
    visibility: hidden;
}

.hubs_lis-class_grid {
    display: grid;
}

.add_new_project_button {
    width: 100%;
    height: 50px;
    font-size: x-large;
    background-color: #4f8daf;
    text-align: center;
    clear: both;
    margin: auto;
    padding-top: 10px;
}

.add_new_project_link {
    color: black;
    text-decoration: none;
}
