ul {
    list-style-type: none;
    margin: auto;
    width: 100%;
    padding: 10px;
}

img {
    width: 100%;
    height: auto;
}

.separation_line {
    border: 0.5px solid lightgrey;
}

.checked {
    color: orange;
}

.list_dropdown {
    float: left;
    overflow: hidden;
    margin-right: 5%;
    width: 10%;
}

.column {
    float: left;
    width: 30%;
    padding: 10px;
}

.column_new-line {
    clear: both;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.second-header {
    width: 100%;
    height: 50px;
}

.hubs_lis-class {
    margin-left: 5%;
}

.to_add {
    float: left;
    width: 30%;
    padding: 10px;
    visibility: hidden;
}

.added {
    float: left;
    width: 30%;
    padding: 10px;
}

.hubs_lis-class_grid {
    display: grid;
}
