/* Style inputs */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

/* Style the container/contact section */
.container {
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    height: 900px;
    background: url("images/RWptHL.jfif") ;
    background-size: cover;
}

.imagineGood {
    background: url("images/RWptHL.jfif") ;
    background-size: cover;
}

/* Create two columns that float next to eachother */
.column {
    margin-top: 6px;
    padding: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.row{
    width: 800px;
    margin: 0 auto;
    background: rgba(25, 25, 25, .5);
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column, .example_e {
        width: 100%;
        margin-top: 0;
    }
}

.example_e {
    border: none;
    background: #404040;
    color: #ffffff !important;
    font-weight: 100;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

.example_e:hover {
    color: #404040 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: white;
    -webkit-box-shadow: 0 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
}

.successSend {
    background: none;
    border: none;
    outline: none;
    margin-top: 20px;
    align-content: center;
    color: green;
    margin-left: 30px;
}