#spatiere, #datetimepicker1{
    margin-left: 20px;
    padding-left: 30px;
}

.separat{
    display: inline-block;

    padding-left: 30px;
}

.buttonPick {
    background-color: #1d1919;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    width: 150px;
    height: 40px;
    margin-left: 120px;
}

.buttonPick:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}