body, html {
    height: 100%;
  }

.card {
    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
  }

.card-3{
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    width: 100%;
    display: table;
}

.card-3 .card-left {
    background: url("images/nest_31_bezaprojekt.jpg") top left/cover no-repeat;
    display: table-cell;
    width: 50%;
  }


.card-3 .card-right {
    padding: 57px 65px;
    padding-bottom: 65px;
    display: table-cell;
}
.wrapper {
margin: 0 auto;
}

.wrapper--w780 {
max-width: 780px;
}

.page-wrapper {
min-height: 100vh;
}

.p-t-180 {
    padding-top: 180px;
}

.p-b-100 {
    padding-bottom: 100px;
}
.font-poppins {
    font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
  }

.bg-gra-01 {
    background: url("images/opacity1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.title {
    font-size: 24px;
    color: #000;
    font-weight: 400;
    margin-bottom: 36px;
}

  /* ==========================================================================
   #BUTTON
   ========================================================================== */
.btn {
    display: inline-block;
    line-height: 40px;
    padding: 0 33px;
    font-family: Poppins, Arial, "Helvetica Neue", sans-serif;
    cursor: pointer;
    color: #fff;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    font-size: 18px;
  }
  
  .btn--radius {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  
  .btn--pill {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
  }
  
  .btn--green {
    background: #57b846;
  }
  
  .btn--green:hover {
    background: #1d9e3c;
  }
  
  .input-type {
    position: relative;
    margin-bottom: 33px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  .input-style {
    padding: 5px 0;
    font-size: 16px;
    color: #111;
    background: transparent;
    border: none;
    font-family: cursive;
}
  input:focus{
    outline: none;
}

/* button */

.btn {
    font-family: cursive;
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    background-color: #222;
    padding: 17px 60px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.20);
  }
  
  .btn span {
    position: relative; 
    z-index: 1;
  }
  
  .btn:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 390%;
    width: 140%;
    background: #349ba7;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
  }
  .btn:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
  }