body, html {
    height: 100%;
}

.card {
    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
}

.card-3 {
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
    width: 100%;
    display: table;
}

.card-3 .card-left {
    background: url("images/download.jfif") top left/cover no-repeat;
    display: table-cell;
    width: 50%;
}


.card-3 .card-right {
    padding: 57px 65px 65px;
    display: table-cell;
}

.wrapper {
    margin: 0 auto;
}

.wrapper--w780 {
    max-width: 780px;
}

.page-wrapper {
    min-height: 100vh;
}

.p-t-180 {
    padding-top: 180px;
}

.p-b-100 {
    padding-bottom: 100px;
}

.font-poppins {
    font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
}

.bg-gra-01 {
    background: url("images/liberty-task-chair-ergonomic-seating-from-humanscale.jpg") no-repeat center;
    background-size: cover;
}

.title {
    font-size: 24px;
    color: #000;
    font-weight: 400;
    margin-bottom: 36px;
}

/* ==========================================================================
 #BUTTON
 ========================================================================== */
.btn {
    display: inline-block;
    line-height: 40px;
    padding: 0 33px;
    font-family: Poppins, Arial, "Helvetica Neue", sans-serif;
    cursor: pointer;
    color: #fff;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    font-size: 18px;
}

.btn--radius {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.btn--pill {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.btn--green {
    background: #57b846;
}

.btn--green:hover {
    background: #1d9e3c;
}

.input-type {
    position: relative;
    margin-bottom: 33px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.input-style {
    padding: 5px 0;
    font-size: 16px;
    color: #111;
    background: transparent;
    border: none;
    font-family: cursive;
    position: relative;
}

.input-style:focus {
    outline: none;
    color: #1d9e3c;
}

.input-style:hover {
    color: brown;
}

.example_e {
    border: none;
    background: #404040;
    color: #ffffff !important;
    font-weight: 100;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

.example_e:hover {
    color: #404040 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;
    -webkit-box-shadow: 0 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.3s ease 0s;
}

.input-style:focus + .underline {
    transform: scale(1);
}

.input-style::-webkit-input-placeholder {
    color: #AAA;
}

.input-style:focus::-webkit-input-placeholder {
    color: dodgerblue;
}

.underline {
    background-color: dodgerblue;
    display: inline-block;
    height: 2px;
    left: 1px;
    margin-top: -4px;
    position: absolute;
    top: 34px;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    width: 262px;
}

.errorAddHub {
    background: none;
    border: none;
    outline: none;
    margin-top: 20px;
    align-content: center;
    color: orangered;
    margin-left: 30px;
}

.successAddHub {
    background: none;
    border: none;
    outline: none;
    margin-top: 20px;
    align-content: center;
    color: green;
    margin-left: 30px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}

.inputfile + label {
    cursor: pointer; /* "hand" cursor */
}

[type="file"] {
    height: 0;
    overflow: hidden;
    width: 0;
}

[type="file"] + label {
    background: #f15d22;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: inherit;
    font-weight: 600;
    margin-bottom: 1rem;
    outline: none;
    padding: 1rem 50px;
    position: relative;
    transition: all 0.3s;
    vertical-align: middle;
}
[type="file"] + label:hover {
    background-color: #d3460d;
}
[type="file"] + label.btn-1 {
    background-color: #f79159;
    box-shadow: 0 6px #f57128;
    transition: none;
}
[type="file"] + label.btn-1:hover {
    box-shadow: 0 4px #f57128;
    top: 2px;
}


