#frontimage{
	width: 75%;
}

span{
	display: inline-block;
}


#img{
	width: 321px;
	height: 240px;
}

#deimplementat{
	color: RED;
}

#spanpadding{
	padding-top: 30px;
}

section{
	display: inline-block;
}

section #floating{
	float: right;
	width: 40%;
	height: 50%;
	padding-left: 33px;
}

section #leftie{
	float: left;
	width: 60%;
}

* {
	box-sizing: border-box;
}

.body {
	font-family: Arial;
	margin: 0 auto; /* Center website */
	max-width: 800px; /* Max width */
	padding: 20px;
}

.heading {
	font-size: 25px;
	margin-right: 25px;
}

.fa {
	font-size: 25px;
}

.checked {
	color: orange;
}

/* Three column layout */
.side {
	float: left;
	width: 15%;
	margin-top: 10px;
}

.middle {
	float: left;
	width: 70%;
	margin-top: 10px;
}

/* Place text to the right */
.right {
	text-align: right;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* The bar container */
.bar-container {
	width: 100%;
	background-color: #f1f1f1;
	text-align: center;
	color: white;
}

/* Individual bars */
.bar-5 {width: 30%; height: 18px; background-color: #4CAF50;}
.bar-4 {width: 25%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 60%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 10%; height: 18px; background-color: #f44336;}

/* Individual bars */
.bar-52 {width: 60%; height: 18px; background-color: #4CAF50;}
.bar-42 {width: 35%; height: 18px; background-color: #2196F3;}
.bar-32 {width: 10%; height: 18px; background-color: #00bcd4;}
.bar-22 {width: 4%; height: 18px; background-color: #ff9800;}
.bar-12 {width: 20%; height: 18px; background-color: #f44336;}

/* Individual bars */
.bar-56 {width: 80%; height: 18px; background-color: #4CAF50;}
.bar-46 {width: 15%; height: 18px; background-color: #2196F3;}
.bar-36 {width: 1%; height: 18px; background-color: #00bcd4;}
.bar-26 {width: 1%; height: 18px; background-color: #ff9800;}
.bar-16 {width: 3%; height: 18px; background-color: #f44336;}

/* Individual bars */
.bar-54 {width: 10%; height: 18px; background-color: #4CAF50;}
.bar-44 {width: 28%; height: 18px; background-color: #2196F3;}
.bar-34 {width: 10%; height: 18px; background-color: #00bcd4;}
.bar-24 {width: 50%; height: 18px; background-color: #ff9800;}
.bar-14 {width: 16%; height: 18px; background-color: #f44336;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
	.side, .middle {
		width: 100%;
	}
	/* Hide the right column on small screens */
	.right {
		display: none;
	}
}

.rate {
	float: left;
	height: 46px;
	padding: 0 10px;
}
.rate:not(:checked) > input {
	position:absolute;
	top:-9999px;
}
.rate:not(:checked) > label {
	float:right;
	width:1em;
	overflow:hidden;
	white-space:nowrap;
	cursor:pointer;
	font-size:30px;
	color:#ccc;
}
.rate:not(:checked) > label:before {
	font-family: FontAwesome;
	content: "\f005";

}
.rate > input:checked ~ label {
	color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
	color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
	color: #c59b08;
}

.multiselect {
	width: 200px;
}

.selectBox {
	position: relative;
}

.selectBox select {
	width: 100%;
	font-weight: bold;
}

.overSelect {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

#checkboxes {
	display: none;
	border: 1px #dadada solid;
}

#checkboxes label {
	display: block;
}

#checkboxes label:hover {
	background-color: #1e90ff;
}

.buttonPick {
	background-color: #4f8daf;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	width: 160px;
	height: 50px;

}

.buttonPick:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}



form{
	width: 100%;
	padding: 16px 20px;
	border: none;
	border-radius: 4px;
}

input[type="checkbox"]{
	border: 1px solid #ccc;
	border-radius: 4px;
}


.b12_3d_glitch {
	overflow: hidden;
	width: 200px;
	height: 41px;
}

.b12_3d_glitch div {
	padding: 10px;
	position: absolute;
	text-align: center;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 200px;
	height: 40px;
}

.b12_3d_glitch div:nth-child(1) {
	background-color: #ffffff;
	top: 1px;
	left: 0px;
	border: #000000 solid 1px;
}

.b12_3d_glitch div:nth-child(2) {
	color: #000000;
	left: -100px;
	top: 2px;
	width: 300px;
	height: 40px;
}

.b12_3d_glitch:hover div:nth-child(1) {
	animation: b12_3d_glitch_bg 0.3s linear;
	-webkit-animation: b12_3d_glitch_bg 0.3s linear;
	-moz-animation: b12_3d_glitch_bg 0.3s linear;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
}

.b12_3d_glitch:hover div:nth-child(2) {
	color: #000000;
	animation: b12_3d_glitch 0.3s linear;
	-webkit-animation: b12_3d_glitch 0.3s linear;
	-moz-animation: b12_3d_glitch 0.3s linear;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAGCAYAAAAL+1RLAAAAF0lEQVQIW2NkwAIYgWKS6OIgQQxAoUoAE4AAUnD/0ugAAAAASUVORK5CYII=) repeat;
}

@-webkit-keyframes b12_3d_glitch_bg {
	49.00% {
		background-color: #ffffff;
	}
	50.00% {
		background-color: #000000;
	}
	to {
		background-color: #000000;
	}
}

@-webkit-keyframes b12_3d_glitch {
	from {
		transform: skewX(0deg);
		-webkit-transform: skewX(0deg);
		-moz-transform: skewX(0deg);
		color: #000000;
	}
	25.00% {
		transform: skewX(80deg);
		-webkit-transform: skewX(80deg);
		-moz-transform: skewX(80deg);
		color: #000000;
	}
	75.00% {
		transform: skewX(-20deg);
		-webkit-transform: skewX(-20deg);
		-moz-transform: skewX(-20deg);
		color: #ffffff;
	}
	90.00% {
		transform: skewX(0deg);
		-webkit-transform: skewX(0deg);
		-moz-transform: skewX(0deg);
		color: #ffffff;
	}
	to {
		transform: skewX(0deg);
		-webkit-transform: skewX(0deg);
		-moz-transform: skewX(0deg);
		color: #ffffff;
	}
}

@-moz-keyframes b12_3d_glitch_bg {
	49.00% {
		background-color: #ffffff;
	}
	50.00% {
		background-color: #000000;
	}
	to {
		background-color: #000000;
	}
}

@-moz-keyframes b12_3d_glitch {
	from {
		transform: skewX(0deg);
		-webkit-transform: skewX(0deg);
		-moz-transform: skewX(0deg);
		color: #000000;
	}
	25.00% {
		transform: skewX(80deg);
		-webkit-transform: skewX(80deg);
		-moz-transform: skewX(80deg);
		color: #000000;
	}
	75.00% {
		transform: skewX(-20deg);
		-webkit-transform: skewX(-20deg);
		-moz-transform: skewX(-20deg);
		color: #ffffff;
	}
	90.00% {
		transform: skewX(0deg);
		-webkit-transform: skewX(0deg);
		-moz-transform: skewX(0deg);
		color: #ffffff;
	}
	to {
		transform: skewX(0deg);
		-webkit-transform: skewX(0deg);
		-moz-transform: skewX(0deg);
		color: #ffffff;
	}
}

.button_base {
	border: 0;
	font-size: 18px;
	position: relative;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -100px;
	width: 200px;
	height: 50px;
	text-align: center;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-user-select: none;
	cursor: default;
}

.button_base:hover {
	cursor: pointer;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	width: 80%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
}

@keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
}

/* The Close Button */
.close {
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.modal-header {
	padding: 2px 16px;
	background-color: #00ffd5;
	color: white;
}

.modal-body {
	padding: 2px 520px;
}

.modal-footer {
	padding: 2px 16px;
	background-color: #00ffd5;
	color: white;
}

.imageModal {
	width: 550px;
	height: 450px;
	border-style: solid;
}

