.accountancy-content {
    width: 100%;
    margin: auto;
    text-align: center;
}

h2 {
    width: 50%;
    margin: auto;
    text-align: center;
}

.project_sponsors {
    width: 50%;
    margin: auto;
    text-align: center;
}

.project_sponsors_hidden {
    width: 50%;
    margin: auto;
    text-align: center;
    visibility: hidden;
}

.h2_tp {
    margin-top: 25px;
}

.h2_tpx {
    margin-top: 75px;
}

.submit-button {
    width: 50%;
    height: 70px;
    margin-bottom: 55px;
    font-size: xx-large;
}

.text_input {
    width: 50%;
    height: 70px;
    font-size: xx-large;
}

form {
    width: 100%;
    margin: auto;
    text-align: center;
}

.news_link {
    width: 100%;
    font-size: larger;
    margin-top: 10px;
    margin-bottom: 10px;
}

.news_link_bt {
    width: 100%;
    font-size: larger;
    margin-top: 10px;
    margin-bottom: 25px;
}

.income_div {
    float: left;
    width: 50%;
    background-color: lightseagreen;
}

.expense_div {
    float: right;
    width: 50%;
    background-color: #00d6b7;
}

.expense_div_full {
    float: left;
    width: 100%;
    background-color: lightseagreen;
}

.after_float {
    clear: both;
    width: 100%;
}

.currency {
    font-size: xx-large;
    width: 100%;
}

.about_project_div {
    float: right;
    width: 50%;
    background-color: white;
    color: black;
    padding: 10px 40px 10px;
}
