.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch .input {
    opacity: 0;
    width: 0;
    height: 0;
}

h2 {
    margin-top: 40px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.input:checked + .slider {
    background-color: #2196F3;
}

.input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

.input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.inuse {
    background: none;
    border: none;
    outline: none;
    color: black;
    width: 40px;
    font-size: 1.17em;
    font-weight: bold;
}

.wrapSpace {
    padding: 3px;
    margin: 0;
    float: left;
}

.clearElement {
    clear: both;
}

.inlineWithToggle {
    margin-top: 10px;
}

.inputBam {
    border: #2196F3;
    width: 150px;
    height: 30px;
    font-size: larger;
    background-color: black;
    padding: 9px;
    color: white;
}

.btnSaveDescription {
    border-radius: 20px;
    background: #35c3c1;
    padding: 20px;
    font-size: larger;
    margin-left: 130px;
    outline: none;
}

.description {
    background: none;
}

.resourcessss {
    background: none;
}

.glow-on-hover {
    margin-left: 30px;
    margin-bottom: 30px;
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: green;
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}