.column {
    float: left;
    width: 48%;
    margin-left:3px;
  }
  
  .row{
    padding-left: 4%;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    margin-bottom: 3px;
    width: 100%;
  }

#exportChart{
  margin-left: 4.1%;
}

#example_a {
  margin-left: 4.1%;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ba3330;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  }

  #example_a:hover {
    background: #434343;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.43);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.43);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.43);
    transition: all 0.4s ease 0s;
    }
  body{
    background-image: url("bigdatablog.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

#example_b {
  margin-left: 4.1%;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: steelblue;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

#example_b:hover {
  background: #434343;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.43);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.43);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.43);
  transition: all 0.4s ease 0s;
}
